<h1>Answer </h1>

<div class="person">
<p><%= @question %></p>
<p style="padding-left:60px"><em>- You </em></p>
</div>

<div class="coach">
<p><%= @answering %></p>
<p style="padding-left:60px"><em>- Ze Stupid Coach!</em></p>
</div>

<%= link_to "Ask a new question", root_path %>
